<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastro de novo curso</mat-card-title>
    <mat-card-subtitle>Campos com * são obrigatórios</mat-card-subtitle>
  </mat-card-header>

  <!-- <p></p> -->
  <mat-card-content>
    <!-- <mat-toolbar color="primary">Cadastrar novo curso</mat-toolbar> -->

    <!-- <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field> -->
    
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label placeholder="Nome">Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label placeholder="Nome">Categoria</mat-label>
        <input matInput formControlName="category">
      </mat-form-field>
    </form>
  </mat-card-content>

  <section>
    <mat-card-actions class="actions-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      <button mat-raised-button class="btn-space" (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </section>
</mat-card>